/* 顶部导航start */
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}

.dt,
.shortcut .fore {
    padding: 0 20px 0 10px;
    position: relative;
}

.dt i,
.fore i {
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.dt s,
.fore s {
    position: absolute;
    top: -8px;
    left: 0;
}

.fr li {
    float: left;
    padding: 0 10px;
}

.fr .line {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
    padding: 0;
}

.shortcut .tel-jd {
    padding: 0 20px 0 25px;
}

.tel {
    position: absolute;
    width: 15px;
    height: 20px;
    background: url(/images/sprite.png) no-repeat;
    left: 5px;
    top: 5px;
}

/* 顶部导航end */

/* topbanner start */
.topbanner {
    background-color: #fd6500;
}

.close-banner {
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background: url(/images/close-banner.png) no-repeat;
}

.close-banner:hover {
    background-position: bottom;
}

.tb {
    position: relative;
}
/* topbanner end */

/* search start */
.search-logo {
    float: left;
    width: 362px;
    height: 60px;
    padding: 20px 0;
}

.search-logo a {
    width: 270px;
    height: 60px;
    display: block;
    text-indent: -9999px;
    background: url(/images/logo.png) no-repeat;
}



/* search end */