.main-slider {
    float: left;
    margin: 12px 12px 0 220px;
    width: 730px;
    height: 454px;
    position: relative;
}

.main-slider ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -66px;
}

.main-slider ul li {
    float: left;
    width: 18px;
    height: 18px;
    color: #fff;
    background-color: #3e3e3e;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    margin: 0 2px;
    cursor: pointer;
}

.main-slider .arrow-left {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    left: 0;
    width: 28px;
    height: 62px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font: 400 22px/62px "sumsun";
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.main-slider .arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    right: 0;
    width: 28px;
    height: 62px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font: 400 22px/62px "sumsun";
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.main-slider .arrow-left:hover, .main-slider .arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.main-news-top-faster {
    height: 163px;
    border-bottom: 1px dashed #e4e4e4;
}

.main-news-top-faster-title {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #e8e8e8;
    padding: 0 15px;
}

.main-news-top-faster-title h2 {
    float: left;
    font: 400 16px/32px "microsoft yahei";
}

.main-news-top-faster-title a {
    float: right;
}

.main-news-top-faster-content {
    padding: 5px 0 0 15px;
}

.main-news-top-faster-content li {
    line-height: 24px;
}

.main-news-top-faster-content span {
    font-weight: 700;
    margin-right: 5px;
    color: #666;
}
.main-news-top-money {
    overflow: hidden;
}
.main-news-top-money ul {
    width: 260px;
    /* float: right; */
    /* position: relative; */
}

.main-news-top-money li {
    width: 62px;
    height: 70px;
    border: 1px solid #e8e8e8;
    float: left;
    border-top: 0;
    margin-top: -1px;
    margin-left: -1px;
}

.main-news-top-money li a {
    display: block;
    width: 62px;
    height: 30px;
    padding-top: 40px;
    text-align: center;
    line-height: 30px;
    position: relative;
}

.main-news-top-money li a i {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
    left: 18px;
    background: url(/images/fly.png) no-repeat right top;
}

.main-news-top-money li a .main-news-top-money-icon2 {
    background: url(/images/fly.png) no-repeat right -25px;
}

.main-news-bottom {
    margin-top: 20px;
}

/*今日推荐start*/
.today {
    padding: 10px 0 20px;
}

.today-left a {
    display: block;
    width: 210px;
    height: 150px;
    background: url(/images/today.jpg) no-repeat;
}

.today-right {
    float: right;
    width: 1000px;
    overflow: hidden;
    position: relative;
}

.today-right ul {
    width: 410%;
}

.today-right li {
    float: left;
    margin-right: 1px;
}

.today-right .arrow-left {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 0;
    width: 16px;
    height: 62px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font: 400 22px/62px "sumsun";
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.today-right .arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    right: 0;
    width: 16px;
    height: 62px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font: 400 22px/62px "sumsun";
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.today-right .arrow-left:hover,
.today-right .arrow-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/*今日推荐end*/

/*banner两侧的广告start*/
.banner-ad {
    position: relative;
}

.banner-ad a {
    width: 100%;
    height: 644px;
    background:url(/images/ad.png) no-repeat center top;
    position: absolute;
}
/*banner两侧的广告end*/